<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.2.0" targetFramework="net461" />
  <package id="Accord.MachineLearning" version="3.2.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.2.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.2.0" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.NLog41" version="3.3.1" targetFramework="net461" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.3.7" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.4.1" targetFramework="net45" />
  <package id="R.NET.Community" version="1.6.5" targetFramework="net45" />
</packages>