<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Configuration.Properties.Settings>
            <setting name="DatabaseType" serializeAs="String">
                <value>MSSQLServer</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value/>
            </setting>
            <setting name="User" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="AuthenticationType" serializeAs="String">
                <value>Windows</value>
            </setting>
        </Configuration.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
