<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Infovision.MRI.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Infovision.MRIFeatureExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Infovision.MRI.UI.Properties.Settings>
            <setting name="RawImageFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RawImageWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageEndianness" serializeAs="String">
                <value>LittleEndian</value>
            </setting>
            <setting name="RawImagePixelType" serializeAs="String">
                <value>UInt8</value>
            </setting>
            <setting name="RawImageHeader" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageFromSlice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageToSlice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageExtractSliceId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageViewImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageExtractViewImage" serializeAs="String">
                <value>False</value>
            </setting>
        </Infovision.MRI.UI.Properties.Settings>
        <Infovision.MRIFeatureExtractor.Properties.Settings>
            <setting name="RawImageFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RawImageWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageEndianness" serializeAs="String">
                <value>LittleEndian</value>
            </setting>
            <setting name="RawImagePixelType" serializeAs="String">
                <value>UInt8</value>
            </setting>
            <setting name="RawImageHeader" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageFromSlice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawImageToSlice" serializeAs="String">
                <value>0</value>
            </setting>
        </Infovision.MRIFeatureExtractor.Properties.Settings>
    </userSettings>
</configuration>
