<?xml version="1.0"?>
<configuration>
    <system.runtime.caching>
      <memoryCache>
        <namedCaches>
          <add name="ReductCache" cacheMemoryLimitMegabytes="8192" physicalMemoryLimitPercentage="50" pollingInterval="00:00:15"/>
        </namedCaches>
      </memoryCache>
    </system.runtime.caching>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
